<body> 
<div class="jumbotron">
         <h1 class="text-center">dietFairy</h1>
     

<div class="container">
	<ul>
		<li><a href="/signin" role="button">Sign In</a></li>
		<li><a href="/signup" role="button">Sign Up</a></li>
		<li><a href="/logout" role ="button">Logout</a></li>

	</ul>
</div>
